<div class="new">
    <div class="container">
        <h2>OUR <span>MENU</span></h2>
        <div class="row">
            <div class="col-md-4 col-sm-6 col-12">
                <div class="win">
                    <img src="../assets/pictures/menu-1.png" alt=""/>
                    <h5>Tasy And  Healty</h5>
                    <p>$15.99 -^-^</p>
                    <button>Add To Cart</button>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-12">
                <div class="win">
                    <img src="../assets/pictures/menu-2.png" alt=""/>
                    <h5>Tasy And  Healty</h5>
                    <p>$15.99 -^-^</p>
                    <button>Add To Cart</button>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-12">
                <div class="win">
                    <img src="../assets/pictures/menu-3.png" alt=""/>
                    <h5>Tasy And  Healty</h5>
                    <p>$15.99 -^-^</p>
                    <button>Add To Cart</button>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-12">
                <div class="win">
                    <img src="../assets/pictures/menu-4.png" alt=""/>
                    <h5>Tasy And  Healty</h5>
                    <p>$15.99 -^-^</p>
                    <button>Add To Cart</button>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-12">
                <div class="win">
                    <img src="../assets/pictures/menu-5.png" alt=""/>
                    <h5>Tasy And  Healty</h5>
                    <p>$15.99 -^-^</p>
                    <button>Add To Cart</button>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-12">
                <div class="win">
                    <img src="../assets/pictures/menu-6.png" alt=""/>
                    <h5>Tasy And  Healty</h5>
                    <p>$15.99 -^-^</p>
                    <button>Add To Cart</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="text">
    <div class="container">
        <h2>BEST <span>MENU</span></h2>
        <div class="row">
            <div class="col-md-4 col-sm-6 col-12">
                <div class="lx">
                    <div class="image">
                    <img src="../assets/pictures/menu-6.png"/>
                    </div>
                    <div class="wee">
                        <h3>saad ali</h3>
                        <p>best product this is will not the last time</p>
                        <span>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-12">
                <div class="lx">
                    <div class="image">
                    <img src="../assets/pictures/menu-5.png"/>
                    </div>
                    <div class="wee">
                        <h3>saad ali</h3>
                        <p>best product this is will not the last time</p>
                        <span>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-12">
                <div class="lx">
                    <div class="image">
                    <img src="../assets/pictures/menu-4.png"/>
                    </div>
                    <div class="wee">
                        <h3>saad ali</h3>
                        <p>best product this is will not the last time</p>
                        <span>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-12">
                <div class="lx">
                    <div class="image">
                    <img src="../assets/pictures/menu-3.png"/>
                    </div>
                    <div class="wee">
                        <h3>saad ali</h3>
                        <p>best product this is will not the last time</p>
                        <span>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-12">
                <div class="lx">
                    <div class="image">
                    <img src="../assets/pictures/menu-2.png"/>
                    </div>
                    <div class="wee">
                        <h3>saad ali</h3>
                        <p>best product this is will not the last time</p>
                        <span>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-12">
                <div class="lx">
                    <div class="image">
                    <img src="../assets/pictures/menu-1.png"/>
                    </div>
                    <div class="wee">
                        <h3>saad ali</h3>
                        <p>best product this is will not the last time</p>
                        <span>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<button id="mak" [ngStyle]="{display:ds}" (click)="toTop()">Top</button>
