<div class="see">
    <div class="container">
        <div class="row">

                <div class="text">
                    <h2>MODERN CAFFE</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Ratione libero corporis vitae optio praesentium voluptatum aliquam impedit ducimus magnam neque facere voluptat.
                    </p>
                    <button>Contact Now</button>
                </div>
        </div>
    </div>
</div>

<div class="learn">
    <div class="container">
        <h2>OUR <span>BRANCHS</span></h2>
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="lix">
                    <img src="../assets/pictures/B.jpg">
                    <h4>Cairo</h4>
                    <p>
                        Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi
                    </p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="lix">
                    <img src="../assets/pictures/B.jpg">
                    <h4>Alex</h4>
                    <p>
                        Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi
                    </p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="lix">
                    <img src="../assets/pictures/B.jpg">
                    <h4>Sharqia</h4>
                    <p>
                        Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi
                    </p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="lix">
                    <img src="../assets/pictures/B.jpg">
                    <h4>Giza</h4>
                    <p>
                        Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi
                    </p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="lix">
                    <img src="../assets/pictures/res5.jpg">
                    <h4>Mansora</h4>
                    <p>
                        Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi
                    </p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="lix">
                    <img src="../assets/pictures/res5.jpg">
                    <h4>Matroh</h4>
                    <p>
                        Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi
                    </p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="lix">
                    <img src="../assets/pictures/res5.jpg">
                    <h4>Sharm El Shikh</h4>
                    <p>
                        Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi
                    </p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="lix">
                    <img src="../assets/pictures/res5.jpg">
                    <h4>Esmalia</h4>
                    <p>
                        Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<button id="mak" [ngStyle]="{display:ds}" (click)="toTop()">Top</button>
