<!--------------------------start of learn---------------->
<div class="learn">
    <div class="container">
        <h2>OUR <span>REVIEW</span></h2>
        <div class="row">
            <div class="col-md-4 col-12">
                <div class="Q">
                    <h2>Welcom Every Body</h2>
                    <img src="../assets/pictures/learn.jpg"/>
                    <h3>Walter White</h3>
                    <h4>Chief Executive Officer</h4>
                    <p>
                        Magni qui quod omnis unde et eos fuga et exercitationem. Odio veritatis perspiciatis quaerat qui aut aut aut
                    </p>
                    <span>
                        <i class="fa fa-camera-retro"></i>
                        <i class="fa fa-user"></i>
                        <i class="fa fa-camera-retro"></i>
                    </span>
                </div>
            </div>
            <div class="col-md-4 col-12">
                <div class="Q">
                    <h2>Welcom Every Body</h2>
                    <img src="../assets/pictures/learn2.jpg"/>
                    <h3>Sarah Jhinson</h3>
                    <h4>Product Manager</h4>
                    <p>
                        Repellat fugiat adipisci nemo illum nesciunt voluptas repellendus. In architecto rerum rerum temporibus
                    </p>
                    <span>
                        <i class="fa fa-camera-retro"></i>
                        <i class="fa fa-user"></i>
                        <i class="fa fa-camera-retro"></i>
                    </span>
                </div>
            </div>
            <div class="col-md-4 col-12">
                <div class="Q">
                    <h2>Welcom Every Body</h2>
                    <img src="../assets/pictures/learn3.jpg"/>
                    <h3>William Anderson</h3>
                    <h4>CTO</h4>
                    <p>
                        Repellat fugiat adipisci nemo illum nesciunt voluptas repellendus. In architecto rerum rerum temporibus
                    </p>
                    <span>
                        <i class="fa fa-camera-retro"></i>
                        <i class="fa fa-user"></i>
                        <i class="fa fa-camera-retro"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<!--------------------------end of learn---------------->

<div class="Rev">
    <div class="container">
        <h2>CUSTOMER`S <span>REVIEW</span></h2>
        <div class="row">
            <div class="col-md-4 col-12">
                <div class="vv">
                    <span class="mm">
                        <i class="fa fa-search" id="t"></i>
                        <i class="fa fa-search" id="t"></i>
                    </span>
                    <p>
                        Lorem ipsum Dolor Sit Amet Consecteteur Adipisicing Elit Sit
                        Consequuntur?Et Velit Nescunt Odio Lorem ipsum Dolor Sit Amet Consecteteur Adipisicing Elit Sit
                        Consequuntur?Et Velit Nescunt Odio,Lorem ipsum Dolor Sit Amet Consecteteur Adipisicing Elit Sit
                        Consequuntur?Et Velit Nescunt Odio.
                    </p>
                        <img src="../assets/pictures/pic-1.png"/>
                        <h6>John Deo</h6>
                        <span class="nn">
                            <i class="fa fa-star" id="t"></i>
                            <i class="fa fa-star" id="t"></i>
                            <i class="fa fa-star" id="t"></i>
                            <i class="fa fa-star" id="t"></i>
                        </span>
                </div>
            </div>
            <div class="col-md-4 col-12">
                <div class="vv">
                    <span class="mm">
                        <i class="fa fa-search" id="t"></i>
                        <i class="fa fa-search" id="t"></i>
                    </span>
                    <p>
                        Lorem ipsum Dolor Sit Amet Consecteteur Adipisicing Elit Sit
                        Consequuntur?Et Velit Nescunt Odio Lorem ipsum Dolor Sit Amet Consecteteur Adipisicing Elit Sit
                        Consequuntur?Et Velit Nescunt Odio,Lorem ipsum Dolor Sit Amet Consecteteur Adipisicing Elit Sit
                        Consequuntur?Et Velit Nescunt Odio.
                    </p>
                        <img src="../assets/pictures/pic-2.png"/>
                        <h6>John Deo</h6>
                        <span class="nn">
                            <i class="fa fa-star" id="t"></i>
                            <i class="fa fa-star" id="t"></i>
                            <i class="fa fa-star" id="t"></i>
                            <i class="fa fa-star" id="t"></i>
                        </span>
                </div>
            </div>
            <div class="col-md-4 col-12">
                <div class="vv">
                    <span class="mm">
                        <i class="fa fa-search" id="t"></i>
                        <i class="fa fa-search" id="t"></i>
                    </span>
                    <p>
                        Lorem ipsum Dolor Sit Amet Consecteteur Adipisicing Elit Sit
                        Consequuntur?Et Velit Nescunt Odio Lorem ipsum Dolor Sit Amet Consecteteur Adipisicing Elit Sit
                        Consequuntur?Et Velit Nescunt Odio,Lorem ipsum Dolor Sit Amet Consecteteur Adipisicing Elit Sit
                        Consequuntur?Et Velit Nescunt Odio.
                    </p>
                    <img src="../assets/pictures/pic-3.png"/>
                        <h6>John Deo</h6>
                        <span class="nn">
                            <i class="fa fa-star" id="t"></i>
                            <i class="fa fa-star" id="t"></i>
                            <i class="fa fa-star" id="t"></i>
                            <i class="fa fa-star" id="t"></i>
                        </span>
                </div>
            </div>

        </div>
    </div>
</div>

<button id="mak" [ngStyle]="{display:ds}" (click)="toTop()">Top</button>
