<div class="test">
    <div class="container">
        <h2>OUR <span>PRODUCTS</span></h2>
        <div class="row">
            <div class="col-md-4 col-12">
                <img src="../assets/pictures/product-3.png"/>
                <h5>Autem sunt earum</h5>
                <p>Et architecto provident deleniti facere repellat nobis iste. Id facere quia quae dolores dolorem tempore</p>
                <button>Explore More</button>
            </div>
            <div class="col-md-4 col-12">
                <img src="../assets/pictures/product-2.png"/>
                <h5>Nobis et tempore</h5>
                <p>Ut quas omnis est. Non et aut tempora dignissimos similique in dignissimos. Sit incidunt et odit iusto</p>
                <button>Explore More</button>
            </div>
            <div class="col-md-4 col-12">
                <img src="../assets/pictures/product-1.png"/>
                <h5>Facere quia quae dolores</h5>
                <p>Modi ut et delectus. Modi nobis saepe voluptates nostrum. Sed quod consequatur quia provident dera</p>
                <button>Explore More</button>
            </div>
            <div class="col-md-4 col-12">
                <img src="../assets/pictures/cart-item-3.png"/>
                <h5>Autem sunt earum</h5>
                <p>Et architecto provident deleniti facere repellat nobis iste. Id facere quia quae dolores dolorem tempore</p>
                <button>Explore More</button>
            </div>
            <div class="col-md-4 col-12">
                <img src="../assets/pictures/cart-item-2.png"/>
                <h5>Nobis et tempore</h5>
                <p>Ut quas omnis est. Non et aut tempora dignissimos similique in dignissimos. Sit incidunt et odit iusto</p>
                <button>Explore More</button>
            </div>
            <div class="col-md-4 col-12">
                <img src="../assets/pictures/cart-item-1.png"/>
                <h5>Facere quia quae dolores</h5>
                <p>Modi ut et delectus. Modi nobis saepe voluptates nostrum. Sed quod consequatur quia provident dera</p>
                <button>Explore More</button>
            </div>
        </div>
    </div>
</div>

<button id="mak" [ngStyle]="{display:ds}" (click)="toTop()">Top</button>
